
    <meta charset="utf-8">

    <title>{{ page_title }}</title>
    <meta name="description" content="{{ page_description | escape }}">

    <link rel="canonical" href="{{ canonical_url }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="shortcut icon" href="https://cdn.shopify.com/s/files/1/1826/1453/files/lion-energy_favicon_32x32_3d3fb52b-7ed3-4d2c-83da-f689d26cf02d.png?v=1633541417" type="image/png" />
    
    <meta name="google-site-verification" content="XeS1vWNdhe4Kcjo5xF662ECWaQznseUb1jLr90--Bis" />
    <meta name="msvalidate.01" content="E5B55926567BC479AC45FF1D7110CD9C" />
    