{% assign ultra_sell = false %}

<div class="mb-4">

	<div class="btn-group" style="font-size: 1.35em;">
		<a href="#info" id="videoLink" class="btn btn-outline-secondary"> <i class="bi bi-film"></i> Video </a>
		{% if meta.manual %}
			<a href="{{ meta.manual }}" class="btn btn-outline-secondary" target="_blank"> <i class="bi bi-book"></i> Manual </a>
		{% endif %}
		<a href="/pages/safety" class="btn btn-outline-secondary" target="_blank"> <i class="bi bi-battery-full"></i> Safety </a>
	</div>
	
</div>

{% if ultra_sell == true %}

<script type="text/javascript">
	(function() {
		var blinks = document.getElementsByTagName('blink');
		var visibility = 'hidden';
		window.setInterval(function() {
		for (var i = blinks.length - 1; i >= 0; i--) {
			blinks[i].style.visibility = visibility;
		}
		visibility = (visibility === 'visible') ? 'hidden' : 'visible';
		}, 250);
	})();
</script>
<h1 style="font-size: 20em;"><blink>SAFE</blink></h1>

<div><img src="https://support.lionenergy.com/files/go-buy-now.gif"></div>

{% endif %}

